@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: serif;
}

.nav {
  background-color: #66a09e;
}

.onsen_image {
  padding-left: 3px;
  padding-right: 3px;
}
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}