@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: serif;
}

.nav {
  background-color: #66a09e;
}

.onsen_image {
  padding-left: 3px;
  padding-right: 3px;
}
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon {
  color: red;
}
.icon2 {
  color: gray;
}
.bookmark {
  left: 30px;
  color: blue;
  z-index: 2;
}
.bookmark2 {
  left: 30px;
  color: gray;
  z-index: 2;
}
