<div class="container">
  <h1 class="d-flex justify-content-center mt-4 mb-3">退会手続き</h1>
  <hr>
  <div class="row mt-5">
    <div class="col-md-9 m-auto">
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <h4>
            退会すると会員情報やお気に入り温泉等が利用できなくなります。<br>
            再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
            本当に退会してよろしいですか？
          </h4>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <span><%= link_to "退会", update_without_path(@user.id),method: :patch, class: "btn btn-danger" %></span>
        <span class="ml-5"><%= link_to "戻る", users_mypage_path(@user.id), class: "btn btn-primary" %></span>
      </div>
    </div>
  </div>
</div>